main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

#sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background: #2E3235;
        color: white;
    }
    #sidebar nav {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        overflow: auto;
    }
    #sidebar h3 {
        margin: 1em;
        font-size: 1em;
        font-weight: normal;
        color: rgba(255, 255, 255, .7);
        overflow: hidden;
    }
    #sidebar h3 .actions {
        float: right;
    }
    #sidebar h3 .actions a img {
        margin-left: 10px;
        height: 16px;
        vertical-align: -0.2em;
        filter: invert(100%);
        opacity: .6;
        transition: opacity .2s;
    }
    #sidebar h3 .actions a:active img {
        opacity: 1;
    }
    #sidebar ul {
        list-style: none;
    }
    #sidebar ul li.ghost {
        position: absolute;
        left: 0;
        right: 0;
        background: rgba(46, 50, 53, .5);
        pointer-events: none;
    }
    #sidebar ul li.dragging {
        opacity: 0;
    }
    #sidebar ul li a {
        display: block;
        padding: 3px 10px 3px 20px;
        overflow: hidden;
        color: rgba(255, 255, 255, .8);
        text-decoration: inherit;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #sidebar ul li img {
        height: 16px;
        margin-right: .8em;
        vertical-align: -0.2em;
        filter: invert(100%);
        opacity: .6;
    }
    #sidebar ul li.selected a {
        background: #2989FF;
        color: white;
    }
    #sidebar ul li.selected img {
        opacity: .8;
    }
    #sidebar .resizer {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 3px;
        background: rgba(0, 0, 0, .2);
        cursor: ew-resize;
}

#headline {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 3.5em;
        padding: 0 1em;
        background: rgba(0, 0, 0, .05);
    }
    #headline .progress {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0;
        background: rgba(0, 0, 0, .05);
        transition: width .2s;
    }
    #headline .hash, #headline input {
        position: relative;
        font-family: Consolas, Menlo, Monaco, 'Ubuntu Mono', monospace;
        font-weight: bold;
        line-height: 3.5;
    }
    #headline input {
        position: absolute;
        left: 2em;
        top: 0;
        width: calc(100% - 3em);
        height: 100%;
        border: none;
        background: transparent;
    }
    #headline input:focus {
        outline: none;
}

#outliner {
        position: absolute;
        left: 0;
        top: 3.5em;
        bottom: 0;
        right: 0;
    }
    #outliner textarea {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 1em;
        border: none;
        font-family: Consolas, Menlo, Monaco, 'Ubuntu Mono', monospace;
        white-space: pre;
        resize: none;
    }
    #outliner textarea:focus {
        outline: none;
}
