* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

input, textarea {
    -ms-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    font: inherit;
}

body, html {
    font: 100%/1.5 'Segoe UI', sans-serif;
    height: 100%;
}

a, img {
    -webkit-user-drag: none;
    user-drag: none;
    cursor: default;
}

.focus-element {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* ================================= */

.document-view {
    display: grid;
    grid-template-rows: auto 1fr;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.document-view-header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        position: relative;
        background: #333;
        color: #eee;
    }
    .document-view-header .progress {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        background: rgba(255, 255, 255, .1);
        transition: width .5s;
        pointer-events: none;
    }
    .document-view-header .buttons {
        display: flex;
        list-style: none;
    }
    .document-view-header .buttons a {
        float: left;
        position: relative;
        width: 2.5rem;
        height: 2.5rem;
    }
    .document-view-header .buttons a:hover,
    .document-view-header .buttons a:focus {
        background: rgba(255, 255, 255, .1);
    }
    .document-view-header .buttons a:active {
        background: rgba(0, 0, 0, .3);
    }
    .document-view-header .buttons a img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -8px;
        margin-left: -8px;
        width: 16px;
        height: 16px;
        opacity: .95;
        filter: invert(100%);
    }
    .document-view-header h1 {
        font-size: 1rem;
    }
    .document-view-header h1 input {
        border: none;
        width: 100%;
        padding: .5rem;
        background: transparent;
        color: inherit;
        font: inherit;
        outline: none;
}

/* ================================= */

.outline-view {
    overflow: auto;
    outline: none;
}

.outline-list {
    list-style: none;
}

.outline-item > .inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: .5rem;
        padding: .2rem 1rem;
    }
    .outline-item.showcollapse > .inner {
        grid-template-columns: auto 1fr;
    }
    .outline-view.focused .outline-item.selected > .inner,
    .outline-view .outline-item.edit > .inner {
        background: rgba(0, 0, 0, .1);
    }
    .outline-item > .inner .id {
        font-family: Consolas, monospace;
        opacity: .7;
    }
    .outline-item > .inner .text {
        white-space: pre-wrap;
    }
    .outline-item.checked > .inner .text,
    .outline-item.checked > .inner .input {
        opacity: .4;
    }
    .outline-item.edit > .inner .text {
        position: absolute;
        left: -9999em;
        top: -9999em;
        opacity: 0;
        pointer-events: none;
    }
    .outline-item > .inner .input {
        border: none;
        outline: none;
        background: transparent;
        resize: none;
    }
    .outline-item:not(.edit) > .inner .input {
        display: none;
    }
    .outline-item > .inner .collapse {
        position: relative;
        width: 12px;
    }
    .outline-item:not(.parent) > .inner .collapse {
        visibility: hidden;
    }
    .outline-item > .inner .collapse img {
        display: block;
        position: absolute;
        top: .35rem;
        transition: transform .2s;
    }
    .outline-item.collapsed > .inner .collapse img {
        transform: rotate(-90deg);
    }
