#app {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 260px 1fr;
}

.menu-panel {
    position: relative;
    width: auto;
    height: auto;
    box-shadow: none;
    transform: none;
}

.document-view {
    position: relative;
}

.document-view-header .buttons > li.menu {
        display: none;
    }
    .document-view-header h1 input {
        padding-left: .8rem;
        padding-right: .8rem;
}
